<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/star.css">
    <title>Document</title>
</head>
<body>
    <%-include('./navbar')%>
    <%-include('./flash')%>
    <% if( locals.success && locals.success.length>0){ %>

    <div class="alert alert-warning alert-dismissible fade show" role="alert">
            <strong> Thank You </strong> <%= locals.success%>  
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    <% } %>
    
    <h1><%=data.name%></h1>
    <img src="<%=data.img%>" style="width:100px ; height:100px;"></img>
    <h2><%=data.price%></h2>
    <h2><%=data.desc%></h2>
    <br>
    <a href="/products/<%=data._id%>/edit">Edit This</a>
    <br>
    <form action="/user/<%=data._id%>/add" method="POST">
        <button>Add to cart</button>
    </form>
    <br>
    <form method="POST" action="/products/<%=data._id%>?_method=DELETE">
        <button type="submit">Delete This</button>
    </form>
    <form action="/products/<%=data._id%>/rating" method="POST">
        <label for="rating">
            <fieldset class="starability-basic">
                <legend>First rating:</legend>
                <input type="radio" id="no-rate" class="input-no-rate" name="rating" value="0" checked aria-label="No rating." />
                <input type="radio" id="first-rate1" name="rating" value="1" />
                <label for="first-rate1" title="Terrible">1 star</label>
                <input type="radio" id="first-rate2" name="rating" value="2" />
                <label for="first-rate2" title="Not good">2 stars</label>
                <input type="radio" id="first-rate3" name="rating" value="3" />
                <label for="first-rate3" title="Average">3 stars</label>
                <input type="radio" id="first-rate4" name="rating" value="4" />
                <label for="first-rate4" title="Very good">4 stars</label>
                <input type="radio" id="first-rate5" name="rating" value="5" />
                <label for="first-rate5" title="Amazing">5 stars</label>
              </fieldset>
              
                      </label>
        <label for="comment">
            <textarea name="comment" id="comment" cols="30" rows="10"></textarea>    
        </label>
        
        <button type="submit">Add review</button>
    </form>
    <div>
        <% for(let item of data.reviews  ){ %>
            <h2>Rated element name</h2>
            <p class="starability-result" data-rating=<%= item.rating %>>
              Rated: <%= item.rating %> stars
            </p>
            <% if(item.createdAt){ %>
                <h4><%= item.createdAt.toDateString() %> </h4>
            <% } %> 
                <h3><%=item.comment %></h3>
        <% } %>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</body>
</html>